.curves
{
color: #ffffff;
text-align: left;
border: 3px solid #242224;
background: #242224;
margin-right: auto;
height: 298px;
margin-bottom: 20px;
margin-top: 20px;
padding: 20px;
}

.curves h3 {
  color: #74aeac;
}

.curves li {
  list-style-position: inside;
  color: #fff;
  font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.curves b {
  font-size: 15px;
}

.curves h3 {
  font-size: 18px;
  padding-top: 0;
}

.curves img {
  padding-top: 0;
  margin:0;
  padding:0;
}